{% extends 'base.html' %}

{% block css %}
{% endblock %}

	<script type="text/javascript">
		$( document ).ready(function() {
		});	
	</script>

{% block main-content %}
   <table width="100%" border="0" bordercolor="#000000">
	   <tr>
		   <td align="left" width="80%">
			   <a class="ui-button ui-widget ui-corner-all" href="#">Delete Selected</a>
		   </td>
	   </tr>
	   <tr>
		   <td>
			   <table width="100%">
				   <tr bgcolor="#B8B8B8">
					   <td align="center">
						   <b><nobr>ERP</nobr></b>
					   </td>
					   <td align="center">
						   <b><nobr>Connection Name</nobr></b>
					   </td>
				   </tr>
				   <tr>
					   <td align="center">
						   <b><nobr></nobr></b>
					   </td>
					   <td align="center">
						   <b><nobr></nobr></b>
					   </td>
				   </tr>
				</table>
			</td>
	   </tr>
	   <tr>
		   <td>
			   <table width="100%">
				   <tr>
					   <td align="left">
						   <a class="ui-button ui-widget ui-corner-all" href="configs">Close</a>
						   &nbsp;&nbsp;
					   </td>
				   </tr>
				</table>
			</td>
	   </tr>
   </table>
{% endblock %}

