{% extends 'base.html' %}

{% block css %}
{% endblock %}

	<script type="text/javascript">
		$( document ).ready(function() {
		});	
	</script>

{% block main-content %}
   <table width="100%" border="0" bordercolor="#000000">
	   <tr>
		   <td width="85%" valign="top">
			   <table width="100%" border="0" bordercolor="#000000">
				   <tr>
					   <td width="50px">
						   <b><nobr>Select ECF File:</nobr></b>
					   </td>
					   <td width="*">
							<div class="input_wrap">
							   <input class="autowidthinput" type="text" name="ecf_file" value="{{ ecf_file }}" maxlength="128">
							</div>
					   </td>
					   <td width="50px">
						   <a class="ui-button ui-widget ui-corner-all" href="/choose_ecf_file?top={{ ecf_file_dirname }}">Browse</a>
					   </td>
				   </tr>
				   <tr>
					   <td valign="top" colspan="3">
						   <div class="outer">{% autoescape off %}{{ the_ecftext }}{% endautoescape %}</div>
					   </td>
				   </tr>
				   <tr>
					   <td>
						   <table width="100%">
							   <tr>
								   <td align="left">
									   <a class="ui-button ui-widget ui-corner-all" href="/">Cancel</a>
									   &nbsp;&nbsp;
								   </td>
								   <td align="left">
									   <a class="ui-button ui-widget ui-corner-all" href="/">Continue</a>
									   &nbsp;&nbsp;
								   </td>
							   </tr>
							</table>
						</td>
				   </tr>
			   </table>
		   </td>
		   <td valign="top">
			   <div class="outer">{% autoescape off %}{{ the_helptext }}{% endautoescape %}</div>
		   </td>
	   </tr>
	</table>
{% endblock %}

